<div class="flex justify-center items-center min-h-screen bg-gray-100 px-4">
  <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-md">
    <form  [formGroup]="regiesterForm" (ngSubmit)="Register()" autocomplete="off" >
      <div class="text-center mb-6">
        <h2 class="text-2xl font-semibold text-gray-800">
          Let's Get Started to <span class="text-red-600">Play</span>
        </h2>
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium  text-gray-700 mb-1"  for="firstName">First Name</label>
        <input type="text" id="firstName"   formControlName="firstName"
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="John">
        <span class=" text-red-500" *ngIf="submitted && regiesterForm.get('firstName')?.hasError('required')">
          First name need to be validated

        </span>
        <span class=" text-red-500" *ngIf="submitted && (regiesterForm.get('firstName')?.hasError('minlength')||regiesterForm.get('firstName')?.hasError('maxlength') )">
          First name need to be validated

        </span>
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700 mb-1" for="lastName">Last Name</label>
        <input type="text" id="lastName" formControlName="lastName"
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Doe">
          <span class=" text-red-500" *ngIf="submitted && regiesterForm.get('lastName')?.hasError('required')">
          lastName need to be validated

        </span>
        <span class=" text-red-500" *ngIf="submitted && (regiesterForm.get('lastName')?.hasError('minlength')||regiesterForm.get('firstName')?.hasError('maxlength') )">
          lastName need to be validated

        </span>
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700 mb-1" for="email">Email</label>
        <input type="email" id="email" formControlName="email"
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="you@example.com">
          <span class=" text-red-500" *ngIf="submitted && regiesterForm.get('email')?.hasError('required')">
          email need to be validated

        </span>
        <span class=" text-red-500" *ngIf="submitted && (regiesterForm.get('email')?.hasError('email') )">
          email need to be validated

        </span>
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium mb-1 text-amber-100" for="password">Password</label>
        <input type="password" id="password" formControlName="password"
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="••••••••">
          <span class=" text-red-500" *ngIf="submitted && regiesterForm.get('password')?.hasError('required')">
          Password need to be validated

        </span>
        <span class=" text-red-500" *ngIf="submitted && (regiesterForm.get('password')?.hasError('minlength')||regiesterForm.get('firstName')?.hasError('maxlength') )">
          Password need to be validated

        </span>
      </div>

      <div class="form-floting" *ngIf="errorMessage.length>0">
        <app-validation-messages [errorMessage]="errorMessage" ></app-validation-messages>


      </div>

      <div class="form-floting" *ngIf="errorMessage.length>0">
        <app-validation-messages [errorMessage]="errorMessage" ></app-validation-messages>


      </div>

      <div *ngIf="isSuccess">
        <app-notification
        [title]="notificationTitle"
        [message]="notificationMessage"
        [isSuccsess]="isSuccess">
        </app-notification>

      </div>
      

      <button type="submit"
        class="w-full bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-md transition">Create Account</button>
    </form>
  </div>
</div>
