<nav class="bg-blue-700 shadow-lg">
  <div class="container flex items-center justify-between px-4 py-3 mx-auto">
    <!-- Logo -->
    <a routerLink="/" class="flex items-center space-x-2">
      <img src="../../../assets/images/logo.png" alt="Logo" class="w-auto h-10">
      <span class="text-xl font-semibold text-white">Brand</span>
    </a>

    <!-- Hamburger button (mobile) -->
    <button class="text-white lg:hidden focus:outline-none" id="navbar-toggle">
      <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24">
        <path d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>

    <!-- Navigation links -->
    <div class="hidden lg:flex lg:items-center lg:space-x-8" id="navbar-menu">
      <ul class="flex flex-col font-medium text-white lg:flex-row lg:space-x-6">
        <li>
          <a routerLink="/" routerLinkActive="text-yellow-300" class="transition hover:text-yellow-300">Home</a>
        </li>
        <ng-container  *ngIf="(accounService.user$ | async)">
          <li>
          <a routerLink="/play" routerLinkActive="text-yellow-300" class="transition hover:text-yellow-300">Play</a>
        </li>
        </ng-container>
        
      </ul>

      <ul class="flex flex-col mt-4 lg:flex-row lg:space-x-4 lg:mt-0" *ngIf="(accounService.user$ | async) === null">
        <li>
          <a routerLink="/account/register" routerLinkActive="active"
            class="px-4 py-2 font-semibold text-blue-700 transition bg-white rounded-lg shadow hover:bg-gray-100">
            Create account
          </a>
        </li>
        <li>
          <a routerLink="/account/login" routerLinkActive="active"
            class="px-4 py-2 font-semibold text-blue-900 transition bg-yellow-400 rounded-lg shadow hover:bg-yellow-300">
            Login
          </a>
        </li>
      </ul>


      <ul class="flex flex-col mt-4 lg:flex-row lg:space-x-4 lg:mt-0" *ngIf="(accounService.user$ | async) as user">
  <li>
    <a
      routerLinkActive="active"
      class="px-4 py-2 font-semibold text-blue-700 transition bg-white rounded-lg shadow hover:bg-gray-100"
    >
      Hi {{ user.firstName }}
    </a>
  </li>
        <li>
          <a (click)="accounService.logout()"
            class="px-4 py-2 font-semibold text-blue-900 transition bg-yellow-400 rounded-lg shadow hover:bg-yellow-300">
            Login Out
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
